{% extends 'base.html.twig' %}

{#{% block title %}Edit: {{ person.name }} {{ person.lastname }} {% endblock %}#}

{% block body %}
    <div class="navbar">
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('new_person') }}">Add</a>
        {#<a href="{{ path('search') }}">Search</a>#}

    </div>
<div class="modify">
    <br><br><br>
    <div class="navedit">
        <a href="{{ path('address_edit',{'id' : person.id}) }}">Address</a>
        <a href="{{ path('email_edit',{'id' : person.id}) }}">Email</a>
        <a href="{{ path('phone_edit',{'id' : person.id}) }}">Phone Number</a>

    </div>
    <br><br><br>
    <h1>Modify Contact </h1>
    <h2>Personal data</h2>
    {{ form_start(modifyForm) }}
    <div class="form">
        {{ form_label(modifyForm.name) }}
        {{ form_widget(modifyForm.name) }}
    </div>
    <div class="form">
        {{ form_label(modifyForm.lastname) }}
        {{ form_widget(modifyForm.lastname) }}
    </div>
    <div class="form">
        {{ form_label(modifyForm.personDescription) }}
        {{ form_widget(modifyForm.personDescription) }}
    </div>
    {{ form_widget(modifyForm) }}
    {{ form_end(modifyForm) }}
--------------------------------------------------------------------------------------
</div>
{% endblock %}