{% extends 'base.html.twig' %}

{% block title %}Contact: {{ person.name }} {{ person.lastname }}{% endblock %}
{% block body %}
    <div class="navbar">
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('new_person') }}">Add</a>

    </div>
    <div>
            <div>{{ person.name }} {{ person.lastname }}</div><br>
            <div>{{ person.personDescription }}</div>
        <div>
            {% for address in person.addresses %}
                <div>
                    {{ address.city }}//{{ address.street }}//{{ address.houseNumber }}//{{ address.apartamentNumber }}
                </div>
                {% endfor %}
        </div>
        <div>
            {% for email in person.emails %}
                <div>
                    {{ email.emailAddress }}//{{ email.type }}
                </div>
                {% endfor %}
        </div>
        <div>
            {% for phone in person.phoneNumbers %}
                <div>
                    {{ phone.number }}//{{ phone.type }}
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}