{% extends 'base.html.twig' %}

{% block title %}Contact: {{ person.name }} {{ person.lastname }}{% endblock %}
{% block body %}
    <div class="navbar">
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('new_person') }}">Add</a>

    </div>
    <div>
            <div>{{ person.name }} {{ person.lastname }}</div><br>
            <div>{{ person.personDescription }}</div>
        <div>
            {{ address.city }}
            {{ address.street }}
            {{ address.houseNumber }}
            {{ address.apartamentNumber }}
            <a href="{{ path('delete_address', {'pid':person.id} , 'id':address.id) }}">Delete address</a>
        </div>
        <div>
            {{ email.emailAddress }}
            {{ email.type }}
            <a href="{{ path('delete_email', {'pid':person.id} , 'id':email.id) }}">Delete email</a>
        </div>
        <div>
            {{ phone.number }}
            {{ phone.type }}
            <a href="{{ path('delete_phone', {'pid':person.id} , 'id':phone.id) }}">Delete phone</a>
        </div>
    </div>
{% endblock %}